services:
  mongodb:
    image: mongo
    container_name: mongodb
    environment:
      - MONGO_INITDB_ROOT_USERNAME=root
      - MONGO_INITDB_ROOT_PASSWORD=pass12345
    volumes:
      - go-api-mongodb-data:/data/db
    networks:
      - go-api-network
    ports:
      - 27017:27017
    healthcheck:
      test: echo 'db.runCommand("ping").ok' | mongo 10.10.10.60:27017/test --quiet
      interval: 30s
      timeout: 10s
      retries: 3
    restart: unless-stopped

  mongo-express:
    image: mongo-express
    container_name: mongo-express
    environment:
      - ME_CONFIG_MONGODB_SERVER=mongodb
      - ME_CONFIG_MONGODB_ENABLE_ADMIN=true
      - ME_CONFIG_MONGODB_ADMINUSERNAME=root
      - ME_CONFIG_MONGODB_ADMINPASSWORD=pass12345
      - ME_CONFIG_BASICAUTH_USERNAME=admin
      - ME_CONFIG_BASICAUTH_PASSWORD=admin123
    depends_on:
      - mongodb
    networks:
      - go-api-network
    ports:
      - 8081:8081
    healthcheck:
      test:  wget --quiet --tries=3 --spider http://admin:admin123@10.10.10.60:8081 || exit 1
      interval: 30s
      timeout: 10s
      retries: 3
    restart: unless-stopped

  go-api:
    image: cosmtrek/air
    # working_dir value has to be the same of mapped volume
    working_dir: /app
    ports:
      - 3003:80
    environment:
      - PORT=80
      - ENV=${ENV}
      - JWT_SECRET=${JWT_SECRET:?err}
      - MONGODB_URL=mongodb://root:pass12345@mongodb:27017/?authSource=admin
      - DATABASE_NAME=${DATABASE_NAME:?err}
      - SMTP_SENDER=${SMTP_SENDER:?err}
      - SMTP_HOST=${SMTP_HOST:?err}
      - SMTP_PORT=${SMTP_PORT:?err}
      - SMTP_PASSWORD=${SMTP_PASSWORD:?err}
      - FE_VERIFY_URL=${FE_VERIFY_URL:?err}
      - FE_RESET_PASS_URL=${FE_RESET_PASS_URL:?err}
      - RECAPTCHA_SECRET=${RECAPTCHA_SECRET}
      - ALLOWED_ORIGIN=${ALLOWED_ORIGIN}
      - DOMAIN=${DOMAIN:?err}
    volumes:
      - .:/app/
    depends_on:
      - mongodb
    networks:
      - go-api-network

volumes:
  go-api-mongodb-data:
    name: go-api-mongodb-data

networks:
  go-api-network:
    name: go-api-network